# initially ignore everything
/*

# exclusions
!/.gitignore
!/.bashrc
!/.gitconfig
!/.vimrc
!/.vim
/.vim/*
!/.vim/colors
!/.vim/en.utf-8.add
/.config/*
!/.config/i3/config
!/.config/alacritty/alacritty.yml
